<section>
  <h2>UserInput Component</h2>
  <div class="content">
    <div class="location-info">
      <mat-form-field appearance="fill">
        <mat-label>Address/Zip Code</mat-label>
        <input [(ngModel)]="addressFieldValue" matInput>
      </mat-form-field>
      <button mat-icon-button (click)="scanGeoLocation()">
        <mat-icon>location_searching</mat-icon>
      </button>
    </div>
    <div>
      <mat-slider min="1" max="4" step="1"></mat-slider>
      <mat-slider min="10" max="50" step="10" thumbLabel [displayWith]="formatMiles" tickInterval="1"></mat-slider>
    </div>
    <!-- submit button -->
    <button mat-raised-button>Submit</button>
  </div>
</section>
